body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Tienda.css */
.tienda {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo de las columnas */
  gap: 20px; /* Espacio entre los elementos de la cuadrícula */
}

.grid-item {
  border: 1px solid #ccc; /* Borde alrededor de cada producto */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Centrar el texto */
  background-color: #f9f9f9; /* Color de fondo */
  transition: transform 0.2s; /* Efecto de transición */
}

.grid-item:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}